<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flexbox Example</title>
  <link rel="stylesheet" href="styles\styleFlex.css">
</head>
<body>
  <header>
    <div class="header-title">Flexbox Example</div>
    <button class="header-button">Iscriviti</button>
  </header>

  <main>
    <div class="main-content">
      <h2>Sezione principale</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non enim eget sapien ultrices fermentum. Nulla facilisi. Sed ac enim eu enim pulvinar varius eget ac quam. Donec nec mi et orci faucibus ultrices non vel tortor. Sed eget augue eu magna tincidunt tincidunt. Morbi ac lacus eu nisl semper tincidunt.</p>
    </div>

    <div class="main-empty"></div>

    <div class="main-sidebar">
      <h2>Sidebar</h2>
      <ul>
        <li class="list-group-item">Elemento 1</li>
        <li class="list-group-item">Elemento 2</li>
        <li class="list-group-item">Elemento 3</li>
      </ul>
    </div>
  </main>

  <footer>
    &copy; 2024 Nome Sito Web
  </footer>

</body>
</html>
